@import url(https://fonts.googleapis.com/css?family=Vidaloka);

/* ---------------------------------------------------------------------------- */


/* ------------------------------------Reset----------------------------------- */


/* ---------------------------------------------------------------------------- */

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
blockquote,
big,
body,
center,
canvas,
caption,
cite,
code,
command,
datalist,
dd,
del,
details,
dfn,
dl,
div,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
keygen,
label,
legend,
li,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
s,
samp,
section,
small,
span,
source,
strike,
strong,
sub,
sup,
table,
tbody,
tfoot,
thead,
th,
tr,
tdvideo,
tt,
u,
ul,
var {
    background: transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: top;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

table,
table td {
    padding: 0;
    border: none;
    border-collapse: collapse;
}

img {
    vertical-align: top;
}

embed {
    vertical-align: top;
}

article,
aside,
audio,
canvas,
command,
datalist,
details,
embed,
figcaption,
figure,
footer,
header,
hgroup,
keygen,
meter,
nav,
output,
progress,
section,
source,
video {
    display: block;
}

mark,
rp,
rt,
ruby,
summary,
time {
    display: inline;
}

input,
textarea {
    border: 0;
    padding: 0;
    margin: 0;
    outline: 0;
}

iframe {
    border: 0;
    margin: 0;
    padding: 0;
}

input,
textarea,
select {
    margin: 0;
    padding: 0px;
}


/* ---------------------------------------------------------------------------- */


/* ---------------------------------------------------------------------------- */


/* ---------------------------------------------------------------------------- */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* ---------------------------------------------------------------------------- */


/* ---------------------------------------------------------------------------- */


/* ---------------------------------------------------------------------------- */

html {
    -webkit-text-size-adjust: none;
}

.video embed,
.video object,
.video iframe {
    width: 100%;
    height: auto;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9;
    /* ie8 */
}

a {
    color: #ff970b;
    text-decoration: none;
}

a:hover {}

h1,
h2 {
    font-size: 25px;
    line-height: 25px;
}

h3,
h4 {
    font-size: 20px;
    line-height: 20px;
}

h5,
h6 {
    font-size: 16px;
    line-height: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Vidaloka", serif;
}

p {
    margin: 10px 0;
    color: #777;
}

.t-center {
    text-align: center;
}

.t-left {
    text-align: left;
}

.t-right {
    text-align: right;
}

.f-right {
    float: right;
}

.f-left {
    float: left;
}

.tlinks {
    text-indent: -9999px;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
}

.post {}

.post:after,
.post:before,
article:after,
article:before,
section:after,
section:before {
    clear: both;
    content: '\0020';
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clear {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix:after,
.clearfix:before {
    clear: both;
    content: '\0020';
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
}


/* --Line-- */

hr.line {
    margin: 15px auto;
    padding: 0;
    max-width: 90px;
    border: 0;
    border-top: solid 5px #c1c1c1;
    text-align: center;
}


/* ---------------------------------------------------------------------------- */


/* ------------------------------------Html-Body------------------------------- */


/* ---------------------------------------------------------------------------- */

html,
body {
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    background: #fff;
    color: #3F3F3F;
    font: 14px/25px Arial, Helvetica, sans-serif;
    font-family: Vidaloka, serif;
}

body .wrap-body {}

header .wrap-header {}

header .main-header {
    background: url(./images/Ziwen.jpeg) fixed center center;
    background-color: #222;
    color: #fff;
    min-height: 600px;
    text-align: center;
    padding-top: 100px
}

header .main-header h1 {
    font-size: 67px;
    margin: 20px 0;
    line-height: 1.2;
    font-weight: 500;
}

header .main-header .counter {
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    padding: 60px 0px 40px 0px;
}

header .logo img {
    display: inline-block;
    margin: auto;
    padding: 10px;
    max-width: 210px;
}

#myCounter {
    color: #fff;
    font-size: 34px;
}

@media all and (max-width: 767px) {
    header .logo {
        text-align: center;
        width: 100%;
    }
    header .logo img {
        display: block;
    }
}


/* container part */


/* ---------------------------------------------------------------------------- */

#container {}

#container .wrap-container {
    background: #ffffff;
}


/* ---content-box--- */

.content-box {}

.content-box .wrap-box {
    padding: 80px 10px;
    position: relative;
}

.content-box .header {
    text-align: center;
    margin: 20px 0 70px;
}

.content-box .header h2 {
    font-size: 60px;
    line-height: 1.2;
    font-weight: 500;
}

.content-box .header .wrapper {
    padding: 5px;
    display: inline-block;
}

.content-box .header .intro {
    color: #FF69B4;
    font-size: 18px;
}

.content-box.boxstyle-1 {
    background: #fff;
    color: #333;
}

.content-box.boxstyle-2 {
    background: #F9F7F1;
}

.content-box.boxstyle-3 {
    background: #4F464B;
    color: #fff;
}

.content-box.box-1 {}

.content-box.box-1 h1 {
    font-size: 48px;
    font-weight: 500;
    color: #333;
    line-height: 1.2;
    margin-bottom: 30px;
}

.content-box.box-1 .fix-right {
    float: right !important;
    text-align: right;
}

@media all and (max-width: 767px) {
    .content-box.box-1 {
        text-align: center;
    }
    .content-box.box-1 .fix-right {
        float: none !important;
        text-align: center;
    }
}

.content-box.box-2 {}

.content-box.box-2 .post {
    text-align: center;
    margin: 20px inherit;
}

.content-box.box-2 img {}

.content-box.box-3 {
    min-height: 450px;
}

.content-box.box-3 h3 {
    font-size: 42px;
    line-height: 1.2;
    font-weight: 500;
    margin: 0 0 70px;
    text-align: center;
}

.content-box.box-3 span {
    color: #FF69B4;
}

.content-box.box-3 img {
    float: left;
    display: inline-block;
    margin-right: 30px;
    max-width: 190px;
}

.content-box.box-3 p {
    color: #a9a9a9;
}

.content-box.box-3 .wrap-box {
    padding-left: 230px;
    padding-right: 230px;
}

@media all and (max-width: 767px) {
    .content-box.box-3 img {
        float: none;
        display: block;
        max-width: 250px;
        margin: 0 auto 30px
    }
    .content-box.box-3 .wrap-box {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.content-box.box-4 {
    text-align: center;
}

.content-box.box-4 .item {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
}

.content-box.box-4 .item:hover {
    border: 1px solid #FF69B4;
}

.content-box.box-4 .item:hover .item-content {
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
}

.content-box.box-4 .item img {
    display: block;
    width: 100% !important;
    height: auto;
    -webkit-transition: all .5s ease;
    /* Safari and Chrome */
    -moz-transition: all .5s ease;
    /* Firefox */
    -ms-transition: all .5s ease;
    /* IE 9 */
    -o-transition: all .5s ease;
    /* Opera */
    transition: all .5s ease;
}

.content-box.box-4 .item .item-content {
    background-color: #fff;
    padding: 20px;
}

.content-box.box-4 .item span {
    font-size: 15px;
    font-weight: bold;
    color: #000;
}

.content-box.box-4 .item .item-content p {
    margin: 10px 0;
}

.content-box.box-4 .item:hover .zoom-container img {
    -webkit-transform: scale(1.25);
    /* Safari and Chrome */
    -moz-transform: scale(1.25);
    /* Firefox */
    -ms-transform: scale(1.25);
    /* IE 9 */
    -o-transform: scale(1.25);
    /* Opera */
    transform: scale(1.25);
}

.zoom-container {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 100% !important;
}

.content-box.box-5 {}

.content-box.box-5 .post {
    display: inline-block;
    margin-top: 20px;
}

.content-box.box-5 .wrapper {
    text-align: center;
}

.content-box.box-5 h3 {}

.content-box.box-5 span {
    color: #FF69B4;
}

.content-box.box-5 ul.social-buttons li {
    display: inline-block;
    text-align: center;
}

.content-box.box-5 ul.social-buttons li a {
    padding-top: 8px;
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 18px;
    line-height: 2;
    color: #ffffff;
    background-color: #464646;
    transition-duration: 0.3s;
    margin-right: 8px;
}

.content-box.box-5 ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #FF69B4;
}

.content-box.box-6 {
    text-align: center;
}

.content-box.box-6 span {
    color: #111;
}

.content-box.box-6 i.fa {
    font-size: 25px;
    height: 65px;
    width: 65px;
    background: #FF69B4;
    color: #fff;
    border-radius: 50%;
    margin-bottom: 30px;
    padding-top: 20px;
}


/* ---------------------------------------------------------------------------- */


/* -------------------------------------Footer--------------------------------- */


/* ---------------------------------------------------------------------------- */

footer {
    text-align: center;
    background: #303030;
}

footer a {
    color: #fff;
}

footer .wrap-footer {
    color: #fff;
    font-size: 13px;
    padding: 30px 20px;
}

footer .wrap-footer h3 {
    margin-bottom: 10px;
}

footer ul.quick-link li {
    display: inline-block;
    margin: 0 10px 10px 0;
}

footer ul.quick-link li a {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}


/* ---------------------------------------------------------------------------- */


/* -------------------------------------Button--------------------------------- */


/* ---------------------------------------------------------------------------- */

a.button {
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    border: 1px solid #ffffff;
    display: inline-block;
    text-decoration: none;
    background: #FF69B4;
    margin: 5px 0;
    text-transform: uppercase;
    color: #fff;
    padding: 6px 20px;
    border-radius: 4px;
}

a.button:hover {
    text-decoration: none;
    background: #303030;
}

a.button.bt1 {
    background: #56AE33;
    color: #ffffff;
    padding: 5px 20px;
    width: 100%;
    text-align: center;
    border: 1px solid #56AE33;
}

a.button.bt2 {
    background: #0000ff;
    color: #ffffff;
}


/* ---------------------------------------------------------------------------- */


/* -------------------------------Zoom-Effect---------------------------------- */


/* ---------------------------------------------------------------------------- */

.item-container {
    position: relative;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    background-color: #fff;
    vertical-align: top;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.item-container img {
    display: block;
    width: 100%;
    height: auto;
}

.item-container .item-caption {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background: none;
    width: 100%;
    height: 100%;
    padding: 35px 30px;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    background: rgba(0, 0, 0, 0.5);
}

.item-caption:hover {
    opacity: 0.9;
}

.item-caption-inner {
    display: table;
    width: 100%;
    height: 100%;
}

.item-caption-inner1 {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.item-container .item-caption i.fa {
    font-size: 40px;
}

.item-container .item-caption h3,
.item-container .item-caption span,
.item-container .item-caption i.fa {
    display: block;
    text-align: center;
    color: #fff;
    display: none;
}

.item-container .item-caption h3 {
    font-size: 35px;
    letter-spacing: 2px;
    margin-bottom: 0;
}

.item-container .item-caption span {
    font-size: 22px;
}

.item-container:hover .item-caption {
    background: none;
}

.item-container:hover .item-caption h3,
.item-container:hover .item-caption span,
.item-container:hover .item-caption i.fa {
    display: inline-block;
}


/* ---------------------------------------------------------------------------- */


/* --------------------------------Google-Map---------------------------------- */


/* ---------------------------------------------------------------------------- */

.maps iframe {
    pointer-events: none;
}